*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background: linear-gradient(var(--bg-color-primary), var(--bg-color-secondary));
  min-height: 100vh;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}